<html>
  <head>
    <title>Real Time Chat App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/stylesheets/cover.css" rel="stylesheet">
    <link rel="icon" href="/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="realTimeChatApp">
    <div ui-view></div>

    <!-- main.html -->
    <script type="text/ng-template" id="main.html">
      <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="inner cover">
              <h1 class="cover-heading">{{title}}</h1>
              <h4 class="lead">{{description}}</h4>

              <form ng-submit="enterRoom()" class="form-signin">
                <label for="inputUsername" class="sr-only">Username</label>
                <input id="inputUsername" class="form-control" placeholder="Username" ng-model="username" required>
                <br>
                <button class="btn btn-lg btn-primary" type="submit">Start Chatting</button>
              </form>
            </div>

            <div class="mastfoot">
              <div class="inner">
                <h4>Copyright &copy; 2016 Kenji Chao</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- chat.html -->
    <script type="text/ng-template" id="chat.html">
      <div class="site-wrapper">
        <div class="site-wrapper-inner" >
          <div class="cover-container" >
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title">{{user.name}}, Welcome to the Chat Room!!</h2>
              </div>
              <div class="panel-body fixed-panel">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="message in messages">
                    <h5>
                    <span class="glyphicon glyphicon-user"></span>
                      {{message.user.name}}
                      <small>{{message.date | date:'yyyy-MM-dd hh:mm:ss a'}}</small>
                    </h5>
                    <h5>{{message.content}}</h5>
                  </li>
                </ul>
              </div>
              <hr/>
              <div class="inner cover">
                <form ng-submit="send()">
                  <div class="form-group">
                    <input type="text"
                      class="form-control"
                      placeholder="Message..."
                      ng-model="message" required autofocus></input>
                  </div>
                  <button type="submit" class="btn btn-primary">Post</button>
                  <a ui-sref="main"><button type="button" class="btn btn-danger leave-btn">Leave</button>
                  </a>
                </form>
              </div>
            </div>
          </div>

          <div class="cover-container">
            <div class="mastfoot">
              <div class="inner">
                <h4>Copyright &copy; 2016 Kenji Chao</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- template.html -->
    <script type="text/ng-template" id="template.html">
      <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="inner cover">
              <h1 class="cover-heading">Welcome to Template</h1>
            </div>

            <div class="mastfoot">
              <div class="inner">
                <h4>Copyright &copy; 2016 Kenji Chao</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="/socket.io-client/socket.io.js"></script>
  </body>
</html>